.companyValuesBlock
    .titleBlock
        .container
            h2 Ценности  компании:
    .container
        .companyValuesBlockOuter
            .swiper-container.valuesSlider
                .swiper-wrapper
                    .swiper-slide.valueSlide
                        .valueImageBlock
                            picture
                                source(srcset="img/about-slide1.webp" type="image/webp")
                                source(srcset="img/about-slide1.jpg" type="image/jpeg")
                                img(src="img/about-slide1.jpg", alt="Анастасия")
                        .valueInfoBlock
                            h4.valueTitle Относиться персонально к каждому
                                br/
                                |празднику и ребенку.
                            p.valueDescription Все люди разные, они не обязаны быть похожими друг
                                br/
                                |на друга и хотеть одного и того же.
                    .swiper-slide.valueSlide
                        .valueImageBlock
                            picture
                                source(srcset="img/about-slide2.webp" type="image/webp")
                                source(srcset="img/about-slide2.jpg" type="image/jpeg")
                                img(src="img/about-slide2.jpg", alt="Анастасия")
                        .valueInfoBlock
                            h4.valueTitle Быть клиент-ориентированными.
                            p.valueDescription Выявляем потребности и удовлетворяем их, стараясь превзойти
                                br/
                                |Ваши лучшие ожидания.
                    .swiper-slide.valueSlide
                        .valueImageBlock
                            picture
                                source(srcset="img/about-slide3.webp" type="image/webp")
                                source(srcset="img/about-slide3.jpg" type="image/jpeg")
                                img(src="img/about-slide3.jpg", alt="Анастасия")
                        .valueInfoBlock
                            h4.valueTitle Быть ответственными.
                            p.valueDescription Мы реализовываем услуги качественно и в срок, и отвечаем за результат.
                    .swiper-slide.valueSlide
                        .valueImageBlock
                            picture
                                source(srcset="img/about-slide4.webp" type="image/webp")
                                source(srcset="img/about-slide4.jpg" type="image/jpeg")
                                img(src="img/about-slide4.jpg", alt="Анастасия")
                        .valueInfoBlock
                            h4.valueTitle Получать удовольствие от работы каждый день.
                            p.valueDescription Творчество - особый вид деятельности, оно в самом себе несет удовлетворение.
                    .swiper-slide.valueSlide
                        .valueImageBlock
                            picture
                                source(srcset="img/about-slide5.webp" type="image/webp")
                                source(srcset="img/about-slide5.jpg" type="image/jpeg")
                                img(src="img/about-slide5.jpg", alt="Анастасия")
                        .valueInfoBlock
                            h4.valueTitle Самосовершенствоваться.
                            p.valueDescription Мастерами кунг-фу не рождаются, ими становятся
                    .swiper-slide.valueSlide
                        .valueImageBlock
                            picture
                                source(srcset="img/about-slide6.webp" type="image/webp")
                                source(srcset="img/about-slide6.jpg" type="image/jpeg")
                                img(src="img/about-slide6.jpg", alt="Анастасия")
                        .valueInfoBlock
                            h4.valueTitle Самореализовываться.
                            p.valueDescription Мы не знаем, кто мы, пока не увидим, на что мы способны.
                    .swiper-slide.valueSlide
                        .valueImageBlock
                            picture
                                source(srcset="img/about-slide7.webp" type="image/webp")
                                source(srcset="img/about-slide7.jpg" type="image/jpeg")
                                img(src="img/about-slide7.jpg", alt="Анастасия")
                        .valueInfoBlock
                            h4.valueTitle Поддерживать друг друга
                            p.valueDescription Добрым словом, делом, тактичным советом или шуткой
                button.swiper-button-prev.values-swiper-button-prev
                div.swiper-pagination.valuesPagination
                button.swiper-button-next.values-swiper-button-next
