.bigGallery
    .titleBlock
        .container
            h2 Принцесса Эльза удивила Подружек Алину и Кристину в их День рождения
    .container
        .bigGalleryTextBlock
            p Подружкам Кристине и Алине повезло родиться в один день, а значит - свой День Рождения они все чаще и чаще празднуют в один день! Нужно признаться, что большой снеговик Олаф по-началу даже слегка напугал девочек, однако позже стал центром внимания и поводом пообниматься в свое удовольствие!
                br/
                | Смотрите фотоотчет с праздника!
        .bigGalleryOuter
            a.gallerySlide(href="img/gallery1.jpg" class="lightbox" data-group="gallery")
                picture
                    source(srcset="img/gallery1.webp" type="image/webp")
                    source(srcset="img/gallery1.jpg" type="image/jpeg")
                    img(src="img/gallery1.jpg", alt="Картинка 1")
            a.gallerySlide(href="img/gallery2.jpg" class="lightbox" data-group="gallery")
                picture
                    source(srcset="img/gallery2.webp" type="image/webp")
                    source(srcset="img/gallery2.jpg" type="image/jpeg")
                    img(src="img/gallery2.jpg", alt="Картинка 2")
            a.gallerySlide(href="img/gallery3.jpg" class="lightbox" data-group="gallery")
                picture
                    source(srcset="img/gallery3.webp" type="image/webp")
                    source(srcset="img/gallery3.jpg" type="image/jpeg")
                    img(src="img/gallery3.jpg", alt="Картинка 3")
            a.gallerySlide(href="img/gallery4.jpg" class="lightbox" data-group="gallery")
                picture
                    source(srcset="img/gallery4.webp" type="image/webp")
                    source(srcset="img/gallery4.jpg" type="image/jpeg")
                    img(src="img/gallery4.jpg", alt="Картинка 4")
            a.gallerySlide(href="img/gallery5.jpg" class="lightbox" data-group="gallery")
                picture
                    source(srcset="img/gallery5.webp" type="image/webp")
                    source(srcset="img/gallery5.jpg" type="image/jpeg")
                    img(src="img/gallery5.jpg", alt="Картинка 5")
            a.gallerySlide(href="img/gallery6.jpg" class="lightbox" data-group="gallery")
                picture
                    source(srcset="img/gallery6.webp" type="image/webp")
                    source(srcset="img/gallery6.jpg" type="image/jpeg")
                    img(src="img/gallery6.jpg", alt="Картинка 6")
