.tabsBlock
    .titleBlock.loadPDFBlock
        .container
            h2 Выбирете формат празника под ваш бюджет:
            a(href="" download).loadPDF
                img(src="img/pdf.jpg")
    .container
        .tabsOuter
            .buttons
                button.button(data-value="1")
                    span.tabName WOW-SHOW
                    span.tabPrice 80 000 &#8381;
                button.button(data-value="2")
                    span.tabName SUPER-PARTY
                    span.tabPrice 45 000 &#8381;
                button.button(data-value="3")
                    span.tabName Fun-PARTY
                    span.tabPrice 4 500 &#8381;/час

            .tabs
                .tab.tab--1.animate(style="display: block;")
                    .tabContentOuter
                        h4.tabTitle Большой яркий праздник с авторскими развлечениями, максимальное удовольствие от полного погружения в сюжет
                        ul.tabContentList
                            li.checked Полный сценарий праздника
                            li.checked Продолжительность - 3 часа
                            li.checked Ведущие – 2 проф. актера
                            li.checked Выезд ивент-менеджера и технического ассистент
                            li.checked Ди-джей и проф. музыкальное оборудование (1000 Вт.)
                            li.checked Торжественное разбивание пиньяты
                            li.checked Шоу-программа с участием артистов на Ваш выбор
                            li.checked Взрывное бумажное шоу
                            li.checked Объемный игровой стафф
                            li.checked Карнавальная атрибутика (прокат)
                            li.checked Лавина из 200 воздушных шаров
                            li.checked Дизайнерский мастер-класс
                            li.checked Тематические дипломы в подарок
                            li.checked Трансфер (доставка праздника)
                .tab.tab--2
                    .tabContentOuter
                        h4.tabTitle Средний праздник с авторскими развлечениями, максимальное удовольствие от полного погружения в сюжет
                        ul.tabContentList
                            li.checked Полный сценарий праздника
                            li.checked Продолжительность - 3 часа
                            li.checked Ведущие – 2 проф. актера
                            li.checked Выезд ивент-менеджера и технического ассистент
                            li.checked Ди-джей и проф. музыкальное оборудование (1000 Вт.)
                            li.checked Торжественное разбивание пиньяты
                            li.checked Шоу-программа с участием артистов на Ваш выбор
                            li.checked Взрывное бумажное шоу
                            li.checked Объемный игровой стафф
                            li.checked Карнавальная атрибутика (прокат)
                            li.checked Лавина из 200 воздушных шаров
                .tab.tab--3
                    .tabContentOuter
                        h4.tabTitle Большой яркий праздник с авторскими развлечениями, максимальное удовольствие от полного погружения в сюжет
                        ul.tabContentList
                            li.checked Полный сценарий праздника
                            li.checked Продолжительность - 3 часа
                            li.checked Ведущие – 2 проф. актера
                            li.checked Выезд ивент-менеджера и технического ассистент
                            li.checked Ди-джей и проф. музыкальное оборудование (1000 Вт.)
                            li.checked Торжественное разбивание пиньяты
                            li.checked Шоу-программа с участием артистов на Ваш выбор
                            li.checked Взрывное бумажное шоу
                            li.checked Объемный игровой стафф
