.allInfoBlock
    .container
        .allInfoBlockOuter
            .mapBlock
                .map#map
            .informationList
                a.informationItem.phoneItem(href="tel:+74951330191") +7 (495) 133 01 91
                a.informationItem.emailItem(href="mailto:company@fun-formula.com") company@fun-formula.com
                p.informationItem.timeItem Ежедневно с 9:00 до 21:00
                p.informationItem.positionItem Москва, ул.Щербаковская, д.3,
                    br/
                    | БЦ «Щербаковский», 12 этаж, офис №1212
                p.informationItem.bankItem ООО «ФАН-ФОРМУЛА»
                    br/
                    | ИНН: 7719478783
