.historyBlock
    h2.historyTitle 11 ЛЕТ УСПЕШНОЙ ИСТОРИИ:
    .historyWrapper
        .historyLine
        .container
            .historyOuter
                .historyItem
                    .historyInfo
                        strong.year 2008
                        strong.title Рождение компании
                .historyText.first-line
                    strong.year 2008
                    strong.title Рождение компании
                    p.historyDescription Потрясающий год в жизни компании. Из мечты делать хотя бы одного ребенка в день счастливее родилась идея создавать яркие, креативные и эффектные праздники. И тем самым помогать взрослым вырываться из будничных событий и сближать всех членов семьи в значимые для них даты – такой стала наша миссия с этого года!
                .historyItem
                    .historyInfo
                        strong.year 2009
                        strong.title Значительное увеличение&nbsp;
                            br/
                            | спектра услуг
                .historyText.first-line
                    strong.year 2009
                    strong.title Значительное увеличение  спектра услуг
                    p.historyDescription Рост количества клиентов потребовал расширение возможных услуг, и в этот год компания внесла в прайс около сотни новых позиций. С таким арсеналом идей родители смогут праздновать Дни Рождения своих детей до тех пор, когда у них самих появятся дети!
                .historyItem
                    .historyInfo
                        strong.year 2010
                        strong.title Начало работы&nbsp;
                            br/
                            | B2B сектором
                .historyText.first-line
                    strong.year 2010
                    strong.title Начало работы B2B сектором
                    p.historyDescription Компания успешно включилась в работу с крупными юридическими лицами, оказывая услуги по проведения рекламных акций и развлекательных программ на территории ряда крупных торгово-развлекательных центров, детских клубов и ресторанов. Целевая аудитория как всегда  дети и родители.
                .historyItem
                    .historyInfo
                        strong.year 2011
                        strong.title  Реализация мероприятий  в странах СНГ
                .historyText.second-line
                    strong.year 2011
                    strong.title Реализация мероприятий  в странах СНГ
                    p.historyDescription Мы освоили работу с заграничными ивент-агенствами и партнерами, и сделали еще один шаг к мечте проводить праздники на различных языках и для детей разнообразных национальностей. Нужно признаться  нам это понравилось.
                .historyItem
                    .historyInfo
                        strong.year 2012
                        strong.title  Собственная швейная мастерская
                .historyText.second-line
                    strong.year 2012
                    strong.title Собственная швейная мастерская
                    p.historyDescription Создание карнавальных и ростовых костюмов, реквизита было перенесено в собственное пространство, что позволило значительно увеличить производительность. Теперь мы успеваем отшивать ряд запросов на опережение кинопоказов, что является конкурентным преимуществом.
                .historyItem
                    .historyInfo
                        strong.year 2013
                        strong.title Внедрение школы актеров-аниматоров
                .historyText.second-line
                    strong.year 2013
                    strong.title Внедрение школы актеров-аниматоров
                    p.historyDescription Создание карнавальных и ростовых костюмов, реквизита было перенесено в собственное пространство, что позволило значительно увеличить производительность. Теперь мы успеваем отшивать ряд запросов на опережение кинопоказов, что является конкурентным преимуществом.
                .historyItem
                    .historyInfo
                        strong.year 2014
                        strong.title Развитие благотворительных выездов в детские онкологические центры
                .historyText.third-line
                    strong.year 2014
                    strong.title Развитие благотворительных выездов в детские онкологические центры
                    p.historyDescription Есть дети здоровые, а есть дети, имеющие очень большие проблемы со здоровьем. Такие дети и их родители нуждаются в интересном, отвлекающем от дурных мыслей досуге. Предоставляя им возможность наблюдать за праздником или делать что-то творческое – мы позволяем им продолжать быть сильными и бороться за жизнь детей вместе с врачами.
                .historyItem
                    .historyInfo
                        strong.year 2015
                        strong.title  Создание программы для детей из детских домов
                .historyText.third-line
                    strong.year 2015
                    strong.title Создание программы для детей из детских домов
                    p.historyDescription Мы продолжаем социальную тему и разрабатываем три универсальных сценария – «Гарри Потер», «Супергерои» и «Алиса в стране Чудес» для выездов в детские дома, чтобы через сказочных героев учить детей быть увереннее в себе, верить в свои силы. Да, это такая малость… Однако если выезды каждый месяц -  это уже большое дело.
                .historyItem
                    .historyInfo
                        strong.year 2016
                        strong.title Старт «мозговых штурмов»
                .historyText.third-line
                    strong.year 2016
                    strong.title Старт «мозговых штурмов»
                    p.historyDescription Увлекательные три часа модерации и незабываемого общения за чашкой горячего шоколада в любимом кафе, наполненные юмором, оригинальными идеями и неожиданными истолкованиями сюжета. Что может быть более вдохновляющим? Да, мы запустили мозговые штурмы! И каждый из них может превратиться в детализированный сценарий к Вашему празднику.
                .historyItem
                    .historyInfo
                        strong.year 2017
                        strong.title Разработка собственных шоу-программ
                .historyText.fourth-line
                    strong.year 2017
                    strong.title Разработка собственных шоу-программ
                    p.historyDescription Мы и раннее придерживались политики не «перепродавать» услуги, а «создавать». Это позволяет предоставлять и хорошую цену Клиентам, и руководить творческим и организационным процессом - что не маловажно. Однако в этом году мы планово перешли на собственное исполнение ряда популярных шоу-программ.
                .historyItem
                    .historyInfo
                        strong.year 2018
                        strong.title Внедрение системы контроля качества
                .historyText.fourth-line
                    strong.year 2018
                    strong.title Внедрение системы контроля качества
                    p.historyDescription Мы задействовали сразу несколько уровней в обеспечении менеджерского состава обратной связью с мероприятий, использовав возможности живого присутствия, телефонного общения, самоответственности исполнителей. Это позволило получать информацию оперативно, из разных источников и корректировать работу в соответствии с пожеланиями.
                .historyItem
                    .historyInfo
                        strong.year 2019
                        strong.title Запуск актерского курса
                .historyText.fourth-line
                    strong.year 2019
                    strong.title Запуск актерского курса
                    p.historyDescription Пятидневный цикл занятий сценическим движением и речью, постановка тематических этюдов и большой арсенал актерских упражнений теперь позволяет нам еще более эффективно подготавливать исполнительский состав для проведения разнообразных театрализованных представлений.
