.aboutBlock
    .titleBlock
        .container
            h1 О нас
    .container
        .aboutBlockOuter
            .aboutBlockImage
                picture
                    source(srcset="img/director.webp" type="image/webp")
                    source(srcset="img/director.jpg" type="image/jpeg")
                    img(src="img/director.jpg", alt="Анастасия")
            .aboutBlockText
                .aboutBlockTextOuter
                    p «Меня зовут Анастасия, я являюсь основательницей и директором Компании «FUN-FORMULA».Я рада приветствовать Вас на нашем сайте и с радостью расскажу Вам о нас.
                    p Компания «FUN-FORMULA» осуществляет свою деятельность с 1 июня 2008  года, оказывает услуги для физических лиц, а также для партнеров B2B-сегмента.
                    p Наша задача – предоставлять максимально разнообразный спектр услуг, организовывать персонализированные праздники, выводить на рынок ивент-индустрии новые развлекательные решения. Для нас важно, чтобы подготовка к мероприятия осуществлялась заранее, исполнители были проверенными, а заказчик удовлетворён на оценку 10 из 10ти.
                    p Наша задача – предоставлять максимально разнообразный спектр услуг, организовывать персонализированные праздники, выводить на рынок ивент-индустрии новые развлекательные решения. Для нас важно, чтобы подготовка к мероприятия осуществлялась заранее, исполнители были проверенными, а заказчик удовлетворён на оценку 10 из 10ти.
                    p В своей работе мы придерживаемся принципов «кайдзен»: накапливаем опыт и ежедневно улучшаем внутренние организационные процессы, делимся знаниями с другими участниками ивент-сферы и создаем интересные решения для клиентов.
                    p Для меня детские праздники - источник профессионального  и личностного роста. Они позволяют реализовывать креативные идеи в жизнь, осваивать различные навыки, создавать рабочие места и объединять людей в сплоченные команды.
                    p Я искренне желаю, чтобы Ваши дети раскрыли свой творческий потенциал. Пусть Ваша семья будет полной и счастливой, а Ваши самые смелые планы воплощаются в жизнь!»
                button.moreTextButton Читать далее

