section.articleInfoBlock.afterHeader
    .titleBlock
        .container
            h1 Рецепт сахарного печенья в цветной глазури ко дню рождения с «My Little Pony»
    .container
        .articleInfoOuter
            .articleInfoBlockOuter.withoutPadding
                .articleInfoImageWrapper.smallImage
                    picture.articleInfoPicture
                        source(srcset="img/article1.webp" type="image/webp")
                        source(srcset="img/article1.jpg" type="image/jpeg")
                        img(src="img/article1.jpg", alt="Мастер-классы для детей")
                .articleInfoTextWrapper
                    div.textWrapper
                        p Для того, чтобы каждый день был как детский праздник, нужно обязательно делать что-то интересное и запоминающееся. Сегодня мы будем печь сахарное печенье с цветной глазурью в форме «My little pony вместе» с «FUN-FORMULA». Ну что, готовы к яркой кулинарной фиесте? Тогда вот вам пошаговая инструкция к мастер-классу:
                        p Что нам понадобится для теста?
                        ul
                            li Мягкое сливочное масло – 100 г.
                            li Мука – 200 г.
                            li Сахар – 50 г.
                            li Яйцо – 1 шт.
                            li Желток – 1 шт.
                            li Экстракт ванили (2-3 капли)
                        p Что нужно для глазури?
                        ul
                            li Белок – 1 шт.
                            li Сахарная пудра – 150-200г.
                            li Сок лимона – по вкусу, несколько капель
                            li Красители по цвету
            .articleInfoBlockOuter.withoutPadding
                .articleInfoImageWrapper.smallImage
                    picture.articleInfoPicture
                        source(srcset="img/article2.webp" type="image/webp")
                        source(srcset="img/article2.jpg" type="image/jpeg")
                        img(src="img/article2.jpg", alt="Мастер-классы для детей")
                .articleInfoTextWrapper
                    div.textWrapper
                        ol.stepsList
                            li  Начнем с теста. Мягкое сливочное масло взбиваем с сахаром и экстрактом ванили. Последнего мы рекомендуем добавлять совсем немного: буквально 2 или 3 капли, но вообще дело предпочтений. Можно добавить больше для тех, кто любит более насыщенный вкус, а можно и вовсе обойтись без него.
                            li Далее по алгоритму добавляем яйцо и еще один желток. Оставшийся белок нам еще пригодится для глазури, оставим его на потом.
                            li Третьим шагом добавляем муку и убираем будущее тесто в холодильник на один час.
                            li Когда и мы, и тесто отдохнули, его нужно раскатать и нарезать. Рекомендуется использовать формочки (у нас это будут персонажи мультфильма My little pony), так веселее!
                            li Затем выпекаем сахарное печенье в разогретой духовке около 15 минут. Рекомендуемая температура: температура – 180-200 градусов
            .articleInfoBlockOuter.withoutPadding
                .articleInfoImageWrapper.smallImage
                    picture.articleInfoPicture
                        source(srcset="img/article3.webp" type="image/webp")
                        source(srcset="img/article3.jpg" type="image/jpeg")
                        img(src="img/article3.jpg", alt="Мастер-классы для детей")
                .articleInfoTextWrapper
                    div.textWrapper
                        p Пока тесто в духовке, самое время заняться глазурью. Здесь все предельно просто:
                        ol
                            li Смешиваем яичный белок, сахар и лимон
                            li Разделяем получившуюся массу по количеству желаемых цветов
                            li В каждую из них добавляем краситель
                        p Важное методологическое замечание! При раскрашивании фигурок сначала наносим контур, а затем, когда он подсохнет, делаем заливку. Так наши пони получатся красивые и аккуратные.
                        p Как Вам мастер-класс? Появилось праздничное настроение? На любое детское мероприятие всегда кстати пригласить аниматора в образе принцессы, супергероя или кого угодно. Если Вы живете в Москве, закажите профессионального аниматора с увлекательным кулинарным мастер-классом на праздник или без повода, порадуйте себя и близких.
                        .otherInfo
                            a.hashTagOnPage(href="") ИДЕИ К ПРАЗДНИКУ
                            .articleButtons
                                button.articleButton.messageButton
                                button.articleButton.likeButton
                                button.articleButton.smileButton

