extends ../layouts/default

block variables
    - const title = "Мастер-классы для детей";

block content
    include ../../blocks/modules/header/header
    include ../../blocks/components/service-info-block/service-info-block
    section.callbackFormBlock.fifthBackground
        .container
            h3.callbackFormTitle Получите подробную консультацию менеджера
            include ../../blocks/components/callback-form/callback-form
    section.cardsWrapper
        .titleBlock
            .container
                h2 Выберите мастер-класс на детский праздник
        include ../../blocks/components/cards-slider/cards-slider
    section.textBlock
        .container
            .fullText
                p Творческий праздник для детей. Проведение мастер классов для детей это отличная идея для заботливых родителей! Устроим творческий праздник для детей?! Конечно же, да! Чем увлекается Ваш ребенок? Танцами, рисованием или пением? Может, ему понравится театральный мастер класс для детей?
                p А может быть, он предпочитает в проведении мастер классов для детей что-нибудь более необычное – капоэйру, фелтинг и граффити? На самый привередливый вкус у нас найдется даже мастер-класс для детей в кафе! Мастер классы в кафе для детей - не скучный урок, это возможность приобрести необычные знания и навыки, развитие творческих способностей в различных сферах, живое общение с классными людьми – мастерами своего дела, веселые игры, конкурсы и музыка! Как Лаборатория делает так, чтобы мастер-классы на детский праздник были такими увлекательными и дети бежали на них со всех ног?
                p Для этого разрабатывается специальная программа детского мастер-класса, которая включает в себя все, что необходимо для гармоничного развития ребенка!
                p В первой части программы происходит знакомство с ведущими мастер-класса для детей в шуточной игровой форме. И точно также, в виде викторины или конкурса, ребята узнают много интересного о предстоящем праздничном событии, историю искусства, которое они собрались изучать.
                p Во второй части программы происходит погружение в творческий процесс. Ребятам раздают материалы для творчества и объясняют, что они будут сегодня делать конкретно. Конечно же, немного сведений по технике безопасности не помешает тоже! Затем проводится веселая разминка, специализированная для каждого мастер-класса. Например, если это театральный мастер класс для детей, то мы не прыгаем и бегаем, а учимся красиво говорить и изображать людей разных характеров =)
                p В третьей части программы проходит сам мастер-класс для детей. Здесь ребятам предоставляется полная свобода творчества. Креативный полет мысли и очумелость ручек приветствуется! Ведущие мастер-класса лишь подсказывают, как сделать круче, и веселят детей творческими шутками-прибаутками, а также следят за безопасностью и выполняют самую трудную техническую часть работы.
                p А в четвертой части мастер-класса... Когда наши произведения искусства готовы, мы научились шить игрушки из носков, поставили свой теневой спектакль или отбарабанили джем-сейшен круче, чем в Африке, начинается игровая часть программы. Мы устроим настоящий бой воздушными шариками и веселые эстафеты, разыграем эксклюзивный интерактивный спектакль и напрыгаемся до упаду!
                p С такими мастер-классами на детский праздник точно не соскучишься!
                p Приглашайте скорей наших ярких мастеров на День Рождения ребенка, и давайте вместе веселиться!
    include ../../blocks/modules/footer/footer

block scripts
    script(src="js/service-page.js")
    script(src="js/vendor.js")
