section.homeInfoBlock.afterHeader
    .titleBlock
        .container
            h1 ПОЛЕЗНЫЕ СТАТЬИ ДЛЯ РОДИТЕЛЕЙ И ДЕТЕЙ
    .container
        .homeInfoBlockOuter
            .homeInfoImageWrapper.smallImage
                picture.homeInfoPicture
                    source(srcset="img/articles-info-image.webp" type="image/webp")
                    source(srcset="img/articles-info-image.jpg" type="image/jpeg")
                    img(src="img/articles-info-image.jpg", alt="Мастер-классы для детей")
            .homeInfoTextWrapper
                div.textWrapper.miniText
                    p Стремитесь быть в тренде? Любите творчество и оригинальные идеи?
                        br/
                        | Мы тоже!
                    p Компания «FUN-FORMULA» открывает новую рубрику – для родителей, которые черпают вдохновение в воспитании детей, и сами вдохновленно дарят детям самое лучшее.
                    p Специально для Вас каждую неделю мы готовим актуальный материал. На этих страницах Вы найдете идеи на тему творчества, организации и проведения детского праздника самостоятельно, статьи о детской возрастной психологии, статьи о воспитании и развитии детей, а еще – оригинальные идеи «позитивного родительства», способные раскрыть таланты и творческий потенциал Вашего ребенка.
                    p Наша цель – помогать Вам строить планы и воплощать их в жизнь, находить общий язык и жить в гармонии с близкими, а еще – поддерживать Вас в те моменты, когда нужен совет или просто свежая идея для собственного или семейного досуга. Даже если Вам захочется провести время весело – здесь Вы найдете забавные интервью с любимыми героями детских праздников, статьи о необычных родителях и игры для всей семьи.
                    p Мы рады быть Вам полезными. А если у Вас есть необычная тема для очередной статьи – предложите ее нам и получите приятные бонусы при заказе детского праздника для Вашего ребенка. Одним словом, будьте в тренде вместе с нами!
                button.moreTextButton Читать далее
