div.smallCardsBlock
    .container
        .swiper-container.smallCardsSlider
            .swiper-wrapper
                .swiper-slide.smallCardsSlide
                    .card
                        .front
                            picture
                                source(srcset="img/slide1.webp" type="image/webp")
                                source(srcset="img/slide1.jpg" type="image/jpeg")
                                img(src="img/slide1.jpg", alt="Человек Паук и Бэтмен")
                        .back
                            picture
                                source(srcset="img/slide1.webp" type="image/webp")
                                source(srcset="img/slide1.jpg" type="image/jpeg")
                                img(src="img/slide1.jpg", alt="Человек Паук и Бэтмен")
                            .cardText
                                h4.cardName Человек Паук и Бэтмен
                                p.cardDescription Человек паук на День Рождения - отличный подарок. Любимый герой – лучший гость, которого можно пригласить на детский праздник...
                                a.moreInfoButton(href="") Подробнее
                    .card
                        .front
                            picture
                                source(srcset="img/slide2.webp" type="image/webp")
                                source(srcset="img/slide2.jpg" type="image/jpeg")
                                img(src="img/slide2.jpg", alt="Детский праздник  в стиле «лего»")
                        .back
                            picture
                                source(srcset="img/slide2.webp" type="image/webp")
                                source(srcset="img/slide2.jpg" type="image/jpeg")
                                img(src="img/slide2.jpg", alt="Детский праздник  в стиле «лего»")
                            .cardText
                                h4.cardName Детский праздник  в стиле «лего»
                                p.cardDescription Добро пожаловать в Лего мир и на самый популярный детский праздник День Рождения. Для любителей знаменитого мультфильма!
                                a.moreInfoButton(href="") Подробнее
                .swiper-slide.smallCardsSlide
                    .card
                        .front
                            picture
                                source(srcset="img/slide3.webp" type="image/webp")
                                source(srcset="img/slide3.jpg" type="image/jpeg")
                                img(src="img/slide3.jpg", alt="МИСТЕР ПИБОДИ И ШЕРМАН НА ДЕТСКИЙ ПРАЗДНИК")
                        .back
                            picture
                                source(srcset="img/slide3.webp" type="image/webp")
                                source(srcset="img/slide3.jpg" type="image/jpeg")
                                img(src="img/slide3.jpg", alt="МИСТЕР ПИБОДИ И ШЕРМАН НА ДЕТСКИЙ ПРАЗДНИК")
                            .cardText
                                h4.cardName МИСТЕР ПИБОДИ И ШЕРМАН НА ДЕТСКИЙ ПРАЗДНИК
                                p.cardDescription Мистер Пибоди и Шерман на детский праздник порадует любителей приключений. На Дне Рождения Вашего ребёнка мы запустим машину врени вэй-бэк!
                                a.moreInfoButton(href="") Подробнее
                    .card
                        .front
                            picture
                                source(srcset="img/slide4.webp" type="image/webp")
                                source(srcset="img/slide4.jpg" type="image/jpeg")
                                img(src="img/slide4.jpg", alt="САМОЛЁТЫ  НА ДЕТСКИЙ ПРАЗДНИК")
                        .back
                            picture
                                source(srcset="img/slide4.webp" type="image/webp")
                                source(srcset="img/slide4.jpg" type="image/jpeg")
                                img(src="img/slide4.jpg", alt="САМОЛЁТЫ  НА ДЕТСКИЙ ПРАЗДНИК")
                            .cardText
                                h4.cardName САМОЛЁТЫ  НА ДЕТСКИЙ ПРАЗДНИК
                                a.moreInfoButton(href="") Подробнее
            button.swiper-button-prev.smallCards-swiper-button-prev
            button.swiper-button-next.smallCards-swiper-button-next
