.aboutBanner
    .aboutBannerImage
        picture
            source(srcset="img/about.webp" type="image/webp")
            source(srcset="img/banner.jpg" type="image/jpeg")
            img(src="img/banner.jpg", alt="Мы создаем праздники, позволяющие стать ближе друг другу")
    .container
        .aboutBannerOuter
            .aboutBannerInfo
                span.aboutBannerSubtitle Миссия Компании:
                h3.aboutBannerTitle Мы создаем праздники, позволяющие
                    br/
                    | стать ближе друг другу
                a.watchVideo.reverseButton(href="" data-type="youtube" data-id="KU2sSZ_90PY" class="lightbox")
                    span.iconPlay
                    | Смотреть видео

