.aboutBanner
    .aboutBannerImage
        picture
            source(srcset="img/about.webp" type="image/webp")
            source(srcset="img/banner.jpg" type="image/jpeg")
            img(src="img/banner.jpg", alt="Мы создаем праздники, позволяющие стать ближе друг другу")
    .container
        .aboutBannerOuter
            .aboutBannerInfo
                span.aboutBannerSubtitle Миссия Компании:
                h3.aboutBannerTitle Мы создаем праздники, позволяющие
                    br/
                    | стать ближе друг другу
                a.watchVideo.reverseButton(data-fslightbox="gallery", href="https://www.youtube.com/watch?v=4A0ptn6hf2Q")
                    span.iconPlay
                    | Смотреть видео

