.commentsSliderBlock
    .container
        .swiper-container.commentsSlider
            .swiper-wrapper
                .swiper-slide
                    .commentWrapper
                        .personBlock
                            .personImage
                                img(src="/img/comment1.png")
                            p.personName Алёна
                        p.personQuote Спасибо, рецепт зашел!  Получилось с первого раза
                .swiper-slide
                    .commentWrapper
                        .personBlock
                            .personImage
                                img(src="/img/comment2.png")
                            p.personName Оксана
                        p.personQuote Спасибо за идею. Пекли на бумаге для выпекания, боялись что пригорят.
                .swiper-slide
                    .commentWrapper
                        .personBlock
                            .personImage
                                img(src="/img/comment3.png")
                            p.personName Мария
                        p.personQuote Дочь была в восторге. Пекли вместе с подружками. Получилось не так красиво, но очень весело. Спасибо!
                .swiper-slide
                    .commentWrapper
                        .personBlock
                            .personImage
                                img(src="/img/comment4.png")
                            p.personName Анна
                        p.personQuote Использовали готовые смеси для глазури, таких ярких цветов не получилось все равно. Печенье вкусное
