section.homeInfoBlock.afterHeader
    .titleBlock
        .container
            h1 Мастер-классы для детей
    .container
        .homeInfoBlockOuter
            .homeInfoImageWrapper
                picture.homeInfoPicture.notFull
                    source(srcset="img/service-info-image.webp" type="image/webp")
                    source(srcset="img/service-info-image.jpg" type="image/jpeg")
                    img(src="img/service-info-image.jpg", alt="Мастер-классы для детей")
            .homeInfoTextWrapper
                div.textWrapper.smallText
                    p Лаборатория Ярких Событий Fun-Formula" рада презентовать самые яркие активные, креативные и творческие мастер классы для ребёнка.
                    p Необычные мастер-классы для детей - это новое слово в проведении детских праздников и "изюминка" для Дня Рождения Вашего ребёнка... Чем же мастер классы для ребёнка важны и полезны и зачем родители просят добавить их к основной программе праздника или провести мастер класс для детей дома?
                    ul
                        li Во-первых, чтобы ребёнок почувствовал себя маленьким гением, он должен попробовать себя во всём и принять участие в необычных мастер классах для детей. И детский праздник или мастер класс для детей дома - отличная возможность для этого!
                        li Во-вторых, мастер-класс для детей - это приобретение нового навыка у Вашего ребенка.
                        li В-третьих, мастер-класс для детей на День Рождения Вашего ребёнка повышает эрудицию.
                    p Мы рады преподнести на Ваш праздник для детей мастер-классы в современных направлениях. А так же мастер класс для детей в ресторан для тех, кто любит праздновать с размахом. Если Вы решили заказать мастер класс для детей в ресторан, не забудьте уточнить технические требования. Пусть День Рождения Вашего ребёнка станет неповторимым и незабываемым!
                button.moreTextButton Читать далее
