div.cardsBlock
    .container
        .swiper-container.cardsSlider
            .swiper-wrapper
                .swiper-slide.cardsSlide
                    .card
                        .front
                            picture
                                source(srcset="img/slide1.webp" type="image/webp")
                                source(srcset="img/slide1.jpg" type="image/jpeg")
                                img(src="img/slide1.jpg", alt="Человек Паук и Бэтмен")
                        .back
                            picture
                                source(srcset="img/slide1.webp" type="image/webp")
                                source(srcset="img/slide1.jpg" type="image/jpeg")
                                img(src="img/slide1.jpg", alt="Человек Паук и Бэтмен")
                            .cardText
                                h4.cardName Человек Паук и Бэтмен
                                p.cardDescription Человек паук на День Рождения - отличный подарок. Любимый герой – лучший гость, которого можно пригласить на детский праздник...
                                a.moreInfoButton(href="") Подробнее
                    .card
                        .front
                            picture
                                source(srcset="img/slide2.webp" type="image/webp")
                                source(srcset="img/slide2.jpg" type="image/jpeg")
                                img(src="img/slide2.jpg", alt="Детский праздник  в стиле «лего»")
                        .back
                            picture
                                source(srcset="img/slide2.webp" type="image/webp")
                                source(srcset="img/slide2.jpg" type="image/jpeg")
                                img(src="img/slide2.jpg", alt="Детский праздник  в стиле «лего»")
                            .cardText
                                h4.cardName Детский праздник  в стиле «лего»
                                p.cardDescription Добро пожаловать в Лего мир и на самый популярный детский праздник День Рождения. Для любителей знаменитого мультфильма!
                                a.moreInfoButton(href="") Подробнее
                    .card
                        .front
                            picture
                                source(srcset="img/slide3.webp" type="image/webp")
                                source(srcset="img/slide3.jpg" type="image/jpeg")
                                img(src="img/slide3.jpg", alt="МИСТЕР ПИБОДИ И ШЕРМАН НА ДЕТСКИЙ ПРАЗДНИК")
                        .back
                            picture
                                source(srcset="img/slide3.webp" type="image/webp")
                                source(srcset="img/slide3.jpg" type="image/jpeg")
                                img(src="img/slide3.jpg", alt="МИСТЕР ПИБОДИ И ШЕРМАН НА ДЕТСКИЙ ПРАЗДНИК")
                            .cardText
                                h4.cardName МИСТЕР ПИБОДИ И ШЕРМАН НА ДЕТСКИЙ ПРАЗДНИК
                                p.cardDescription Мистер Пибоди и Шерман на детский праздник порадует любителей приключений. На Дне Рождения Вашего ребёнка мы запустим машину врени вэй-бэк!
                                a.moreInfoButton(href="") Подробнее
                    .card
                        .front
                            picture
                                source(srcset="img/slide4.webp" type="image/webp")
                                source(srcset="img/slide4.jpg" type="image/jpeg")
                                img(src="img/slide4.jpg", alt="САМОЛЁТЫ  НА ДЕТСКИЙ ПРАЗДНИК")
                        .back
                            picture
                                source(srcset="img/slide4.webp" type="image/webp")
                                source(srcset="img/slide4.jpg" type="image/jpeg")
                                img(src="img/slide4.jpg", alt="САМОЛЁТЫ  НА ДЕТСКИЙ ПРАЗДНИК")
                            .cardText
                                h4.cardName САМОЛЁТЫ  НА ДЕТСКИЙ ПРАЗДНИК
                                a.moreInfoButton(href="") Подробнее
                .swiper-slide.cardsSlide
                    .card
                        .front
                            picture
                                source(srcset="img/slide5.webp" type="image/webp")
                                source(srcset="img/slide5.jpg" type="image/jpeg")
                                img(src="img/slide5.jpg", alt="ПОПУГАИ «РИО»  НА ДЕТСКИЙ ПРАЗДНИК")
                        .back
                            picture
                                source(srcset="img/slide5.webp" type="image/webp")
                                source(srcset="img/slide5.jpg" type="image/jpeg")
                                img(src="img/slide5.jpg", alt="ПОПУГАИ «РИО»  НА ДЕТСКИЙ ПРАЗДНИК")
                            .cardText
                                h4.cardName
                                    | ПОПУГАИ «РИО»
                                    br
                                    | НА ДЕТСКИЙ ПРАЗДНИК
                                p.cardDescription Ваш ребёнок без ума от попугаев ару? Значит, пора отправиться с попугаями «РИО» на детский праздник на их родину, в таинственную Амазонию.
                                a.moreInfoButton(href="") Подробнее
                    .card
                        .front
                            picture
                                source(srcset="img/slide6.webp" type="image/webp")
                                source(srcset="img/slide6.jpg" type="image/jpeg")
                                img(src="img/slide6.jpg", alt="Пригласить «Adventure Time» на День Рождения")
                        .back
                            picture
                                source(srcset="img/slide6.webp" type="image/webp")
                                source(srcset="img/slide6.jpg" type="image/jpeg")
                                img(src="img/slide6.jpg", alt="Пригласить «Adventure Time» на День Рождения")
                            .cardText
                                h4.cardName
                                    | Пригласить
                                    br
                                    | «Adventure Time»
                                    br
                                    | на День Рождения
                                a.moreInfoButton(href="") Подробнее
                    .card
                        .front
                            picture
                                source(srcset="img/slide7.webp" type="image/webp")
                                source(srcset="img/slide7.jpg" type="image/jpeg")
                                img(src="img/slide7.jpg", alt="ОБЛАЧНО: ВОЗМОЖНЫ ОСАДКИ В ВИДЕ ФРИКАДЕЛЕК НА ДЕТСКИЙ ПРАЗДНИК")
                        .back
                            picture
                                source(srcset="img/slide7.webp" type="image/webp")
                                source(srcset="img/slide7.jpg" type="image/jpeg")
                                img(src="img/slide7.jpg", alt="ОБЛАЧНО: ВОЗМОЖНЫ ОСАДКИ В ВИДЕ ФРИКАДЕЛЕК НА ДЕТСКИЙ ПРАЗДНИК")
                            .cardText
                                h4.cardName
                                    | ОБЛАЧНО: ВОЗМОЖНЫ ОСАДКИ В ВИДЕ ФРИКАДЕЛЕК
                                    br
                                    |НА ДЕТСКИЙ ПРАЗДНИК
                                a.moreInfoButton(href="") Подробнее
                    .card
                        .front
                            picture
                                source(srcset="img/slide8.webp" type="image/webp")
                                source(srcset="img/slide8.jpg" type="image/jpeg")
                                img(src="img/slide8.jpg", alt="ГАДКИЙ Я  НА ДЕНЬ РОЖДЕНИЯ")
                        .back
                            picture
                                source(srcset="img/slide8.webp" type="image/webp")
                                source(srcset="img/slide8.jpg" type="image/jpeg")
                                img(src="img/slide8.jpg", alt="ГАДКИЙ Я  НА ДЕНЬ РОЖДЕНИЯ")
                            .cardText
                                h4.cardName
                                    | ГАДКИЙ Я
                                    br
                                    | НА ДЕНЬ РОЖДЕНИЯ
                                a.moreInfoButton(href="") Подробнее
            button.swiper-button-prev.cards-swiper-button-prev
            button.swiper-button-next.cards-swiper-button-next

