#modal-1.modal.micromodal-slide(aria-hidden="true")
    div.modal__overlay(tabindex="-1" data-micromodal-close)
        div.modal__container(role="dialog" aria-modal="true" aria-labelledby="modal-1-title")
            header.modal__header
                h2#modal-1-title.modal__title.modalFormTitle Заказать звонок
                button.modal__close(aria-label="Close modal" data-micromodal-close)
            main#modal-1-contentModal.modal__content
                form.modalForm
                    fieldset.modalFormFieldWrapper
                        input.modalFormField(type="text" inputmode="text" placeholder="Ваше имя")
                    fieldset.modalFormFieldWrapper
                        input.modalFormField(type="phone" inputmode="tel" placeholder="Ваш телефон")
                    fieldset.modalFormFieldWrapper
                        button.modalSubmitButton(type="submit") Отправить

#thanksModal-1.modal.micromodal-slide(aria-hidden="true")
    div.modal__overlay(tabindex="-1" data-micromodal-close)
        div.modal__container.thanksModalContainer(role="dialog" aria-modal="true" aria-labelledby="thanksModalContainer")
            button.modal__close(aria-label="Close modal" data-micromodal-close)
            main#thanksModal-1-contentModal.modal__content.thanksModalContent
                h2.thanksModalTitle Спасибо за Ваше обращение!
                p.thanksModalText Скоро с Вами свяжется Ваш персональный менеджер!

#thanksModal-2.modal.micromodal-slide(aria-hidden="true")
    div.modal__overlay(tabindex="-1" data-micromodal-close)
        div.modal__container.thanksModalContainer(role="dialog" aria-modal="true" aria-labelledby="thanksModalContainer")
            button.modal__close(aria-label="Close modal" data-micromodal-close)
            main#thanksModal-2-contentModal.modal__content.thanksModalContent
                h2.thanksModalTitle Спасибо за Ваше обращение!
                p.thanksModalText Скоро с Вами свяжется Ваш персональный менеджер!

#thanksModal-3.modal.micromodal-slide(aria-hidden="true")
    div.modal__overlay(tabindex="-1" data-micromodal-close)
        div.modal__container.thanksModalContainer(role="dialog" aria-modal="true" aria-labelledby="thanksModalContainer")
            button.modal__close(aria-label="Close modal" data-micromodal-close)
            main#thanksModal-3-contentModal.modal__content.thanksModalContent
                h2.thanksModalTitle Спасибо за Ваше обращение!
                p.thanksModalText Скоро с Вами свяжется Ваш персональный менеджер!

#thanksModal-4.modal.micromodal-slide(aria-hidden="true")
    div.modal__overlay(tabindex="-1" data-micromodal-close)
        div.modal__container.thanksModalContainer(role="dialog" aria-modal="true" aria-labelledby="thanksModalContainer")
            button.modal__close(aria-label="Close modal" data-micromodal-close)
            main#thanksModal-4-contentModal.modal__content.thanksModalContent
                h2.thanksModalTitle Спасибо за Ваше обращение!
                p.thanksModalText Скоро с Вами свяжется Ваш персональный менеджер!

#thanksModal-5.modal.micromodal-slide(aria-hidden="true")
    div.modal__overlay(tabindex="-1" data-micromodal-close)
        div.modal__container.thanksModalContainer(role="dialog" aria-modal="true" aria-labelledby="thanksModalContainer")
            button.modal__close(aria-label="Close modal" data-micromodal-close)
            main#thanksModal-5-contentModal.modal__content.thanksModalContent
                h2.thanksModalTitle Спасибо за Ваше обращение!
                p.thanksModalText Скоро с Вами свяжется Ваш персональный менеджер!

#thanksModal-6.modal.micromodal-slide(aria-hidden="true")
    div.modal__overlay(tabindex="-1" data-micromodal-close)
        div.modal__container.thanksModalContainer(role="dialog" aria-modal="true" aria-labelledby="thanksModalContainer")
            button.modal__close(aria-label="Close modal" data-micromodal-close)
            main#thanksModal-6-contentModal.modal__content.thanksModalContent
                h2.thanksModalTitle Спасибо за Ваше обращение!
                p.thanksModalText Скоро с Вами свяжется Ваш персональный менеджер!

#thanksModal-big.modal.micromodal-slide(aria-hidden="true")
    div.modal__overlay(tabindex="-1" data-micromodal-close)
        div.modal__container.thanksModalContainer(role="dialog" aria-modal="true" aria-labelledby="thanksModalContainer")
            button.modal__close(aria-label="Close modal" data-micromodal-close)
            main#thanksModal-big-contentModal.modal__content.thanksModalContent
                h2.thanksModalTitle Спасибо за Ваше обращение!
                p.thanksModalText Скоро с Вами свяжется Ваш персональный менеджер!
