.numbersBlock
    .titleBlock
        .container
            h2 «Fun-Formula» Сегодня:
    .container
        .numbersBlockOuter
            .numberBlock
                .numberBlockHeader
                    h3.numberTitle 11
                    p.numberSubtitle БЕЗОСТАНОВОЧНЫХ ЛЕТ БЛАГОТВОРИТЕЛЬНЫХ ВЫЕЗДОВ
                .numberBlockMain
                    p Коллектив компании регулярно реализует праздники и мастер-классы для детей из московского областного онкологического диспансера (г. Балашиха), а также НМИЦ ДГОИ  имени Дмитрия Рогачёва (г. Москва). Помимо этого, мы осуществляем выезды в областные детские дома (г. Коломна).
            .numberBlock
                .numberBlockHeader
                    h3.numberTitle 450
                    p.numberSubtitle МЕРОПРИЯТИЙ ЕЖЕМЕСЯЧНО
                .numberBlockMain
                    p Мы гордимся и ценим Ваше доверие. Поэтому за всеми мероприятиями и каждым праздником в отдельности мы ведем особый контроль. Залог успеха это своевременная и полноценная подготовка, отбор лучших исполнителей и их договорные обязательства перед Компанией.
            .numberBlock
                .numberBlockHeader
                    h3.numberTitle 150
                    p.numberSubtitle САМЫХ ПОПУЛЯРНЫХ СЦЕНАРИЕВ
                .numberBlockMain
                    p В арсенале Компании обширная костюмерная, а также - готовые программы детских праздников как с советскими персонажами, так и с самыми популярными героями мультфильмов, только выходящих на киноэкраны города. Независимо от того, чем увлекается Ваш сын или дочь – мы уже знаем, чем Вас удивить.
            .numberBlock
                .numberBlockHeader
                    h3.numberTitle 1000
                    p.numberSubtitle ЧЕЛОВЕК В КОМАНДЕ
                .numberBlockMain
                    p Мы выстроили собственный отдел по подбору и обучению исполнителей. Ежемесячно наш коллектив пополняют около сотни человек, и только самые успешные из них войдут в основной состав анимационной команды. Каждому из них предстоит реализовывать многочисленные праздники вместе с нами.
            .numberBlock
                .numberBlockHeader
                    h3.numberTitle №1
                    p.numberSubtitle ТОЛЬКО ЛУЧШИЕ ИСПОЛНИТЕЛИ
                .numberBlockMain
                    p Мы стараемся привлекать к работе только проверенных исполнителей, которые несут ответственность за качественную подготовку, своевременное прибытие на мероприятие и выкладываются на все 100% перед публикой.
            .numberBlock
                .numberBlockHeader
                    h3.numberTitle 10
                    p.numberSubtitle СОБСТВЕННЫХ ШОУ-ПРОГРАММ
                .numberBlockMain
                    p Имея свою материальную базу, мы вывели в работу ряд популярных шоу-программ, таких как: «лайт-пэйнтинг», «теневой театр», «поролоновое шоу», «бумажное шоу», «ленточное шоу» и не только. Каждое из них проходит под музыкальноесопровождение и имеет возможность стилизации в тематике любого сценария.
            .numberBlock
                .numberBlockHeader
                    h3.numberTitle 15
                    p.numberSubtitle ФОРМАТОВ РЕСТОРАННОЙ АНИМАЦИИ
                .numberBlockMain
                    p Разработанная нами оригинальная программа позволяет руководству ресторана выбрать наиболее подходящий вид активности и способ привлечения семейной аудитории в свое заведение, что не маловажно в условиях высокой конкуренции.
            .numberBlock
                .numberBlockHeader
                    h3.numberTitle 5
                    p.numberSubtitle ТРЕНИНГОВЫХ ПРОГРАММ
                .numberBlockMain
                    p Чтобы отвечать за уровень подготовки наших исполнителей в Компании функционирует  школа для актеров-аниматоров. Она включает в себя тренинги, посвященные детской возрастной психологии, игровой технике и практике, навыкам детского аквагримма, сценарным основам и постановке танцевальных флэш-мобов.
