.pageTextBlock
    .container
        .pageTextBlockOuter
            .pageTextInfo
                .pageTextDescription
                    p  «Холодное сердце» - новый мультфильм Disney от создателей «Рапунцель», ещё более неожиданная и прекрасная история этой зимы… Ваша дочь без ума от красавицы Рапунцель? Тогда детский День Рождения с принцессой Анной приведёт её в восторг! И Вы точно узнаете героев «Холодного сердца», ведь сюжет мультфильма построен на сказке Ганса Кристиана Андерсона «Снежная Королева», любимой сказке и детей, и родителей.
                    p На детском Дне Рождения Вашей дочери или сына будто по волшебству неожиданно появляются три храбрых героя сказки – принцесса Анна, храбрый Кристофф и его любимец олень Свен. В день праздника Ледяная Королева заколдовала королевство леденящим заклятьем и с каждой секундой продвигается всё дальше по всему миру. Смогут ли гости детского праздника снять леденящее заклятье?
                    p Конечно же, ребята произносят торжественную клятву и отправляются в трудный и далёкий путь, а возглавит команду именинник(-ца)! Через волшебный портал Анна и её друзья отправляются по снежному полю к Ледяным Горам, чтобы найти сестру Анны, которая снимет заклятье. Гостям детского праздника предстоит обхитрить опасных троллей, накормив их вкусными мятными леденцами (игра с воздушными шариками), подружиться с милым снеговиком Олафом...
                button.moreTextButton.desktopButton Читать далее
            .pageImageSlider
                .swiper-container.imageSlider
                    .swiper-wrapper
                        .swiper-slide.imageSlide
                            picture.mainSlideImage
                                source(srcset="img/slider1.webp" type="image/webp")
                                source(srcset="img/slider1.jpg" type="image/jpeg")
                                img(src="img/slider1.jpg", alt="Слайд")
                        .swiper-slide.imageSlide
                            picture.mainSlideImage
                                source(srcset="img/slider2.webp" type="image/webp")
                                source(srcset="img/slider2.jpg" type="image/jpeg")
                                img(src="img/slider2.jpg", alt="Слайд")
                        .swiper-slide.imageSlide
                            picture.mainSlideImage
                                source(srcset="img/slider3.webp" type="image/webp")
                                source(srcset="img/slider3.jpg" type="image/jpeg")
                                img(src="img/slider3.jpg", alt="Слайд")
                    button.swiper-button-prev.image-swiper-button-prev
                    button.swiper-button-next.image-swiper-button-next
