section.mainSliderBlock
    .swiper-container.mainSlider
        .swiper-wrapper
            .swiper-slide.mainSlide
                picture.mainSlideImage
                    source(srcset="img/main-slide1.webp" type="image/webp")
                    source(srcset="img/main-slide1.jpg" type="image/jpeg")
                    img(src="img/main-slide1.jpg", alt="СОБСТВЕННАЯ ШКОЛА АНИМАТОРОВ")
                .mainSlideText
                    .container
                        h2.mainSlideTitle СОБСТВЕННАЯ ШКОЛА АНИМАТОРОВ
                        p.mainSlideDescription Получите максимум энергии и драйва от первоклассного актерского состава.
            .swiper-slide.mainSlide
                picture.mainSlideImage
                    source(srcset="img/main-slide2.webp" type="image/webp")
                    source(srcset="img/main-slide2.jpg" type="image/jpeg")
                    img(src="img/main-slide2.jpg", alt="СОБСТВЕННАЯ МАСТЕРСКАЯ КОСТЮМОВ")
                .mainSlideText
                    .container
                        h2.mainSlideTitle СОБСТВЕННАЯ МАСТЕРСКАЯ КОСТЮМОВ
                        p.mainSlideDescription Будьте уверены в превосходном качестве карнавальных костюмов, подчеркивающих образ и лучшие черты исполнителей.
            .swiper-slide.mainSlide
                picture.mainSlideImage
                    source(srcset="img/main-slide3.webp" type="image/webp")
                    source(srcset="img/main-slide3.jpg" type="image/jpeg")
                    img(src="img/main-slide3.jpg", alt="ПСИХОЛОГИЯ В ЦЕНТРЕ ВНИМАНИЯ")
                .mainSlideText
                    .container
                        h2.mainSlideTitle ПСИХОЛОГИЯ В ЦЕНТРЕ ВНИМАНИЯ
                        p.mainSlideDescription Вдохновляйте детей вместе с нами, ведь Ваш сценарий уже включает похвалу, позитивные установки и персональное отношение к каждому ребенку.
            .swiper-slide.mainSlide
                picture.mainSlideImage
                    source(srcset="img/main-slide4.webp" type="image/webp")
                    source(srcset="img/main-slide4.jpg" type="image/jpeg")
                    img(src="img/main-slide4.jpg", alt="БОЛЕЕ 150 КРЕАТИВНЫХ СЦЕНАРИЕВ")
                .mainSlideText
                    .container
                        h2.mainSlideTitle БОЛЕЕ 150 КРЕАТИВНЫХ СЦЕНАРИЕВ
                        p.mainSlideDescription Насладитесь искрометным юмором и оригинальной игровой программой, созданной по мотивам сиквелов.
            .swiper-slide.mainSlide
                picture.mainSlideImage
                    source(srcset="img/main-slide5.webp" type="image/webp")
                    source(srcset="img/main-slide5.jpg" type="image/jpeg")
                    img(src="img/main-slide5.jpg", alt="Опыт работы 11 лет")
                .mainSlideText
                    .container
                        h2.mainSlideTitle Опыт работы 11 лет
                        p.mainSlideDescription Убедитесь в надежности организационных механизмов, доверьте Ваш праздник профессионалам.
        .swiper-pagination
