section.homeInfoBlock
    .titleBlock
        .container
            h1 Организация Детских праздников в Москве
    .container
        .homeInfoBlockOuter
            .homeInfoImageWrapper
                picture.homeInfoPicture
                    source(srcset="img/info-image.webp" type="image/webp")
                    source(srcset="img/info-image.jpg" type="image/jpeg")
                    img(src="img/info-image.jpg", alt="Организация детских праздников в москве")
            .homeInfoTextWrapper
                div.textWrapper
                    p Вот уже целых 8 лет Компания "FUN-FORMULA" успешно занимается организацией детских праздников в Москве и является лидером в сфере детской ивент-индустрии в г. Москва, осуществляет партнерскую работу с крупными торгово-развлекательными центрами, ресторанами и детскими клубами, а также – организовывает детские праздники для детей частного сегмента Клиентов.
                    p В арсенале нашей Компания "FUN-FORMULA" более 150-ти самых популярных сценариев интерактивных представлений ко Дню Рождения, более 50-ти детских мастер-классов и столько же креативных детских шоу-программ. Каждая из программ полностью подготовлена для реализации на любой площадке – будь то – ресторан, торгово-развлекательный центр или Ваш загородный дом.
                    p В своей работе мы используем - оригинальный игровой стафф, качственные костюмы. Вас окружают внимательные менеджеры и конечно же реализуют мероприятия лучшие исполнители – артисты и ведущие детских праздников и мастер-классов. Залогом успеха является постоянный контроль качества организации и проведения детских праздников и высокий уровень клиент-ориентированности персонала Компании, оценить который Вы имеете возможность прямо сейчас.
                    p Если Вам предстоит организация детского праздника – доверьте ее Компании "FUN-FORMULA", и станьте нашим постоянным Клиентом. Для Вас уже создана система лояльности с БОНУСАМИ и дополнительными привилегиями при организации и проведении детских праздников для Вашего бизнеса и Вашей семьи.
                    p Компании "FUN-FORMULA" организовывает детские праздники на территории г. Москва, а также осуществляет гастроли на территории стран СНГ. К открытию готовятся филиалы – цель которых – оказание высококачественных услуг по организации и проведению детских праздников за пределами России.
                    p Мы благодарим наших Клиентов за оказанное нам доверие.
                    p Нам приятно нести позитивную энергию и вдохновлять Вас и Ваших детей.
                    p Добро пожаловать на наш сайт!
                button.moreTextButton Читать далее
