.homeInfoBlock {
  display: flex;
  flex-direction: column;
  &.afterHeader {
    margin-top: 15px;
  }
}
.homeInfoBlockOuter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width: 100%;
  padding: 15px 0;
}

.homeInfoPicture {
  img {
    width: 100%;
    height: auto;
  }
}
.homeInfoImageWrapper {
  grid-column: 2/3;
  grid-row: 1;
}
.homeInfoTextWrapper {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1;
  .textWrapper {
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.38px;
    text-align: left;
    color: var(--dark-color);
    margin-bottom: 10px;
    word-break: break-word;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      display: inline-block;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.moreTextButton {
  display: none;
  margin-left: auto;
  background: transparent;
  border: 1px solid var(--dark-color);
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--dark-color);
  cursor: pointer;
  &.desktopButton {
    display: flex;
  }
  &:after {
    float: right;
    content: "";
    background: url("../img/svg/arrow.svg");
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 9px;
    width: 10px;
    height: 18px;
    transform: rotateY(0);
  }
  &.opened {
    &:after {
      transform: rotateY(180deg);
    }
  }
}

@include lg-block {
  .homeInfoBlockOuter {
    grid-gap: 15px;
  }
  .homeInfoImageWrapper {
    height: 425px;
    &.smallImage {
      height: 240px;
      img {
        object-position: top center;
      }
    }
  }
  .homeInfoBlockOuter .textWrapper {
    height: 429px;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 9px;
    line-height: 1.2;
    letter-spacing: 0;
    &.miniText {
      height: 240px;
      &.opened {
        height: auto;
      }
    }
    &.smallText {
      height: 400px;
      &.opened {
        height: auto;
      }
    }
    &.opened {
      height: auto;
    }
    p {
      margin-bottom: 9px;
    }
  }
  .moreTextButton {
    display: block;
    &.mobileOnly {
      display: none;
    }
  }
  .homeInfoPicture img {
    height: 100%;
    object-fit: cover;
  }
  .homeInfoPicture.notFull img {
    height: auto;
  }
}

@include sm-block {
  .homeInfoImageWrapper {
    grid-column: 1;
    grid-row: 1;
    height: 200px;
  }
  .homeInfoTextWrapper {
    grid-column: 1;
    grid-row: 2;
  }
  .homeInfoBlockOuter .textWrapper {
    line-height: 1;
    height: 152px;
    overflow: hidden;
    font-size: 10px;
    margin-bottom: 7px;
    &.miniText {
      height: 194px;
      &.opened {
        height: auto;
      }
    }
    &.smallText {
      height: 158px;
      &.opened {
        height: auto;
      }
    }
    p {
      margin-bottom: 7px;
    }
  }
  .homeInfoBlockOuter {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  .moreTextButton {
    font-size: 12px;
    padding: 8px 9px;
    &.mobileOnly {
      display: block;
    }
    &:after {
      height: 12px;
    }
  }
  .homeInfoPicture.notFull img {
    height: 100%;
  }
}
