.callbackFormBlockOuter
    form.callBackForm
        fieldset.formFieldWrapper
            input.formField(type="text" inputmode="text" placeholder="Ваше имя")
        fieldset.formFieldWrapper
            input.formField(type="phone" inputmode="tel" placeholder="Ваш телефон")
        fieldset.formFieldWrapper
            input.formField(type="email" inputmode="email" placeholder="Ваш e-mail")
        fieldset.formFieldWrapper.fullField
            textarea.formTextarea(placeholder="Опишите тему")
        fieldset.formFieldWrapper
            button.submitButton(type="submit") Предложить
