footer.footer
    .container
        .footerOuter
            .footerContactInfoWrapper
                a.phoneLink(href="tel:84951330191") Тел.: 8 (495) 133 01 91
                a.whatsappLink(href="")
                    img(src="img/svg/whatsapp-footer.svg", alt="Whatsapp")
                    | 8 (929) 640 53 79
            ul.socialNetworksFooter
                li.socialNetworkItem
                    a.socialNetworkLink(href="")
                        img(src="img/svg/vk.svg", alt="Вконтакте")
                li.socialNetworkItem
                    a.socialNetworkLink(href="")
                        img(src="img/svg/facebook.svg", alt="Facebook")
                li.socialNetworkItem
                    a.socialNetworkLink(href="")
                        img(src="img/svg/whatsapp.svg", alt="Whatsapp")
                li.socialNetworkItem
                    a.socialNetworkLink(href="")
                        img(src="img/svg/twitter.svg", alt="Twitter")
                li.socialNetworkItem
                    a.socialNetworkLink(href="")
                        img(src="img/svg/instagram.svg", alt="Instagram")
            .newsFormWrapper
                p.formTitle Подпешитесь на наши новости
                form.newsForm
                    fieldset.newsFormField
                        input(type="email" inputmode="email" placeholder="E-mail")
                    button.newsFormButton(type="submit") Подписаться

        .copyBlock
            p.copyText
                | Все права на программы защищены. Все фотографии на сайте являются собственностью компании «Fun-Formula» и не могут использоваться без согласия правообладателя.
                br
                | © 2014 «Fun-Formula»
