.articlesBlockList
    article.articleBlock
        .articleImageWrapper
            picture
                source(srcset="img/articles1.webp" type="image/webp")
                source(srcset="img/articles1.jpg" type="image/jpeg")
                img.articleImage(src="img/articles1.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
    article.articleBlock
        .articleImageWrapper
            picture
                source(srcset="img/articles2.webp" type="image/webp")
                source(srcset="img/articles2.jpg" type="image/jpeg")
                img.articleImage(src="img/articles2.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
    article.articleBlock
        .articleImageWrapper
            picture
                source(srcset="img/articles3.webp" type="image/webp")
                source(srcset="img/articles3.jpg" type="image/jpeg")
                img.articleImage(src="img/articles3.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
    article.articleBlock
        .articleImageWrapper
            picture
                source(srcset="img/articles4.webp" type="image/webp")
                source(srcset="img/articles4.jpg" type="image/jpeg")
                img.articleImage(src="img/articles4.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
    article.articleBlock.fullArticle
        .articleImageWrapper
            picture
                source(srcset="img/articles5.webp" type="image/webp")
                source(srcset="img/articles5.jpg" type="image/jpeg")
                img.articleImage(src="img/articles5.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
    article.articleBlock.fullArticle
        .articleImageWrapper
            picture
                source(srcset="img/articles6.webp" type="image/webp")
                source(srcset="img/articles6.jpg" type="image/jpeg")
                img.articleImage(src="img/articles6.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
    article.articleBlock
        .articleImageWrapper
            picture
                source(srcset="img/articles7.webp" type="image/webp")
                source(srcset="img/articles7.jpg" type="image/jpeg")
                img.articleImage(src="img/articles7.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
    article.articleBlock
        .articleImageWrapper
            picture
                source(srcset="img/articles8.webp" type="image/webp")
                source(srcset="img/articles8.jpg" type="image/jpeg")
                img.articleImage(src="img/articles8.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
    article.articleBlock
        .articleImageWrapper
            picture
                source(srcset="img/articles9.webp" type="image/webp")
                source(srcset="img/articles9.jpg" type="image/jpeg")
                img.articleImage(src="img/articles9.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
    article.articleBlock
        .articleImageWrapper
            picture
                source(srcset="img/articles10.webp" type="image/webp")
                source(srcset="img/articles10.jpg" type="image/jpeg")
                img.articleImage(src="img/articles10.jpg", alt="Рецепт сахарного печенья в цветной глазури ко Дню Рождения")
            .articleButtonsBlock
                button.articleButton.messageButton
                button.articleButton.likeButton
                button.articleButton.smileButton
            a.hashTag(href="/") ИДЕИ К ПРАЗДНИКУ
        a.articleName(href="/") Рецепт сахарного печенья в цветной глазури ко Дню Рождения
.moreButtonBlock
    button.moreArticles Показать ещё
