:root {
  --light-color: #ffffff;
  --light-shaded-color: #fffefe;
  --dark-color: #181818;
  --dark-shaded-color: #3c3c3c;
  --button-color: #3c3c3c;
  --button-color-red: #c03c3f;
  --font-family: "Bebas Neue", sans-serif;
  --secondary-family: "Segoe UI", sans-serif;
}

$smile: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeFlood flood-color='%23fff' flood-opacity='1' result='floodOut'/%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' d='M9.998.002C4.469.002-.013 4.478-.013 9.999s4.482 9.997 10.011 9.997c5.528 0 10.01-4.476 10.01-9.997S15.526.002 9.998.002zm0 17.995c-4.416 0-8.008-3.588-8.008-7.998s3.592-7.997 8.008-7.997c4.415 0 8.008 3.587 8.008 7.997s-3.593 7.998-8.008 7.998zM5.994 9.999a2.001 2.001 0 01-2.003-2C3.991 6.895 4.888 6 5.994 6a2 2 0 012.002 1.999c0 1.105-.897 2-2.002 2zm8.899 2.156c-1.014 5.123-8.776 5.123-9.791 0-.12-.604.383-1.156.999-1.156.482 0 .874.346.986.814.695 2.913 5.126 2.913 5.822 0 .111-.468.504-.814.985-.814.616 0 1.119.552.999 1.156zm1.111-4.156a2 2 0 01-2.002 2 2 2 0 110-3.999 2 2 0 012.002 1.999z'/%3E%3C/g%3E%3C/svg%3E%0A";
$smileHover: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeFlood flood-color='%23FDE204' flood-opacity='1' result='floodOut'/%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' d='M9.998.002C4.469.002-.013 4.478-.013 9.999s4.482 9.997 10.011 9.997c5.528 0 10.01-4.476 10.01-9.997S15.526.002 9.998.002zm0 17.995c-4.416 0-8.008-3.588-8.008-7.998s3.592-7.997 8.008-7.997c4.415 0 8.008 3.587 8.008 7.997s-3.593 7.998-8.008 7.998zM5.994 9.999a2.001 2.001 0 01-2.003-2C3.991 6.895 4.888 6 5.994 6a2 2 0 012.002 1.999c0 1.105-.897 2-2.002 2zm8.899 2.156c-1.014 5.123-8.776 5.123-9.791 0-.12-.604.383-1.156.999-1.156.482 0 .874.346.986.814.695 2.913 5.126 2.913 5.822 0 .111-.468.504-.814.985-.814.616 0 1.119.552.999 1.156zm1.111-4.156a2 2 0 01-2.002 2 2 2 0 110-3.999 2 2 0 012.002 1.999z'/%3E%3C/g%3E%3C/svg%3E%0A";
$like: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeFlood flood-color='%23fff' flood-opacity='1' result='floodOut'/%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' d='M16.717 12.208a1.935 1.935 0 00-.52 1.669l.644 3.915c.201 1.219-.728 2.208-1.783 2.208a1.73 1.73 0 01-.842-.221l-3.374-1.848a1.756 1.756 0 00-1.684 0l-3.374 1.848a1.741 1.741 0 01-.842.221c-1.055 0-1.984-.989-1.784-2.208l.645-3.915a1.933 1.933 0 00-.521-1.669L.553 9.436C-.521 8.345.071 6.444 1.555 6.219l3.773-.571A1.815 1.815 0 006.69 4.616l1.687-3.561A1.782 1.782 0 0110 .004c.645 0 1.29.35 1.623 1.051l1.687 3.561c.263.557.773.943 1.362 1.032l3.772.571c1.484.225 2.077 2.126 1.003 3.217l-2.73 2.772z'/%3E%3C/g%3E%3C/svg%3E%0A";
$likeHover: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeFlood flood-color='%23FDE204' flood-opacity='1' result='floodOut'/%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' d='M16.717 12.208a1.935 1.935 0 00-.52 1.669l.644 3.915c.201 1.219-.728 2.208-1.783 2.208a1.73 1.73 0 01-.842-.221l-3.374-1.848a1.756 1.756 0 00-1.684 0l-3.374 1.848a1.741 1.741 0 01-.842.221c-1.055 0-1.984-.989-1.784-2.208l.645-3.915a1.933 1.933 0 00-.521-1.669L.553 9.436C-.521 8.345.071 6.444 1.555 6.219l3.773-.571A1.815 1.815 0 006.69 4.616l1.687-3.561A1.782 1.782 0 0110 .004c.645 0 1.29.35 1.623 1.051l1.687 3.561c.263.557.773.943 1.362 1.032l3.772.571c1.484.225 2.077 2.126 1.003 3.217l-2.73 2.772z'/%3E%3C/g%3E%3C/svg%3E%0A";
$comment: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeFlood flood-color='%23fff' flood-opacity='1' result='floodOut'/%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' d='M16.445 4.332a.035.035 0 01-.013-.008.025.025 0 01-.009-.013C15.34 1.765 12.861.003 9.993.003 6.43.003 3.494 2.719 3.05 6.232a.037.037 0 01-.029.033C1.115 6.748-.255 8.613.017 10.764c.226 1.784 1.661 3.2 3.518 3.48a.518.518 0 01.452.508v2.197c0 1.82 2.156 2.732 3.418 1.445l3.71-3.788a.995.995 0 01.708-.299h2.946c2.638 0 4.993-1.98 5.216-4.664.205-2.463-1.32-4.623-3.54-5.311zm-1.534 7.932h-3.322c-.516 0-1.012.203-1.384.567l-3.369 3.291c-.319.311-.847.081-.847-.369v-2.467c0-.565-.448-1.022-1.001-1.022-1.001 0-2.625.067-2.961-1.62-.369-1.853 1.724-3.213 3.198-2.017-2.054-6.906 8.326-9.298 9.673-2.484.017 0 .034-.003.05-.005.017-.002.033-.005.051-.005 3.873 0 4.091 6.131-.088 6.131z'/%3E%3C/g%3E%3C/svg%3E%0A";
$commentHover: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeFlood flood-color='%23FDE204' flood-opacity='1' result='floodOut'/%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut'/%3E%3CfeBlend in='compOut' in2='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' d='M16.445 4.332a.035.035 0 01-.013-.008.025.025 0 01-.009-.013C15.34 1.765 12.861.003 9.993.003 6.43.003 3.494 2.719 3.05 6.232a.037.037 0 01-.029.033C1.115 6.748-.255 8.613.017 10.764c.226 1.784 1.661 3.2 3.518 3.48a.518.518 0 01.452.508v2.197c0 1.82 2.156 2.732 3.418 1.445l3.71-3.788a.995.995 0 01.708-.299h2.946c2.638 0 4.993-1.98 5.216-4.664.205-2.463-1.32-4.623-3.54-5.311zm-1.534 7.932h-3.322c-.516 0-1.012.203-1.384.567l-3.369 3.291c-.319.311-.847.081-.847-.369v-2.467c0-.565-.448-1.022-1.001-1.022-1.001 0-2.625.067-2.961-1.62-.369-1.853 1.724-3.213 3.198-2.017-2.054-6.906 8.326-9.298 9.673-2.484.017 0 .034-.003.05-.005.017-.002.033-.005.051-.005 3.873 0 4.091 6.131-.088 6.131z'/%3E%3C/g%3E%3C/svg%3E%0A";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-family);
  font-weight: 400;
  color: var(--dark-color);
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  &>svg {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
section {
  max-width: 100vw;
  overflow: hidden;
}

.textWrapper {
  &>h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-family);
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 10px;
  li {
    font-family: var(--secondary-family);
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.38px;
    text-align: left;
    color: var(--dark-color);
    word-break: break-word;
  }
}



ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 10px;
  li {
    font-family: var(--secondary-family);
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.38px;
    text-align: left;
    color: var(--dark-color);
    word-break: break-word;
  }
}

@include md-block {
  ul, ol {
    margin-bottom: 5px;
  }
}

.titleBlock {
  width: 100%;
  font-family: var(--font-family);
  background: var(--dark-color);
  h1 {
    font-size: 30px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: var(--light-color);
    padding: 15px 0 11px;
    font-family: var(--font-family);
  }
  h2 {
    font-size: 26px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.65px;
    text-align: left;
    color: var(--light-color);
    padding: 14px 0 9px;
    font-family: var(--font-family);
  }
}

p {
  font-family: var(--secondary-family);
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.38px;
  text-align: left;
  color: var(--dark-color);
  word-break: break-word;
  margin: 0 0 10px 0;
  padding: 0;
}

.callbackFormTitle {
  width: 100%;
  font-family: var(--secondary-family);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--light-color);
}

.articleButton {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: rgba(60, 60, 60, .85);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  &.likeButton {
    background-image: url($like);
    &:hover {
      background-image: url($likeHover);
    }
  }
  &.messageButton {
    background-image: url($comment);
    &:hover {
      background-image: url($commentHover);
    }
  }
  &.smileButton {
    background-image: url($smile);
    &:hover {
      background-image: url($smileHover);
    }
  }
}

.callbackFormBlock {
  width: 100%;
  padding: 55px 0;
  &.firstBackground {
    background: url("../img/callback1.webp"), rgba(24, 24, 24, .65);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
  &.secondBackground {
    background: url("../img/callback2.webp"), rgba(24, 24, 24, .65);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
  &.thirdBackground {
    background: url("../img/callback3.webp"), rgba(24, 24, 24, .65);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
  &.fourthBackground {
    background: url("../img/callback4.webp"), rgba(24, 24, 24, .65);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
  &.fifthBackground {
    background: url("../img/callback5.webp"), rgba(24, 24, 24, .65);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
  &.sixthBackground {
    background: url("../img/callback6.webp"), rgba(24, 24, 24, .65);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
}
.noWebp {
  .callbackFormBlock {
    &.firstBackground {
      background: url("../img/callback1.jpg"), rgba(24, 24, 24, .65);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-blend-mode: multiply;
    }

    &.secondBackground {
      background: url("../img/callback2.jpg"), rgba(24, 24, 24, .65);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-blend-mode: multiply;
    }

    &.thirdBackground {
      background: url("../img/callback3.jpg"), rgba(24, 24, 24, .65);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-blend-mode: multiply;
    }

    &.fourthBackground {
      background: url("../img/callback4.jpg"), rgba(24, 24, 24, .65);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-blend-mode: multiply;
    }

    &.fifthBackground {
      background: url("../img/callback5.jpg"), rgba(24, 24, 24, .65);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-blend-mode: multiply;
    }
    &.sixthBackground {
      background: url("../img/callback6.jpg"), rgba(24, 24, 24, .65);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-blend-mode: multiply;
    }
  }
}

.container {
  @include container();
  width: 100%;
}

.cardsWrapper {
  padding: 15px 0;
}

.articlesBlock {
  width: 100%;
  margin-top: 15px;
}

.afterHeader + .articlesBlock {
  margin-top: 0;
}

.textBlockOuter {
  margin: 15px 0;
  p {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.watchVideo {
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  border-radius: 2px;
  background-color: var(--dark-shaded-color);
  font-size: 20px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--light-color);
  text-decoration: none;
  padding: 5px 10px;
  .iconPlay {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: solid 1px var(--light-color);
    margin-left: 11px;
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 10px;
      border-color: transparent transparent transparent var(--light-color);
    }
  }
  &.reverseButton {
    .iconPlay {
      margin-right: 11px;
      margin-left: 0;
    }
  }
}
.tobii-zoom__icon {
  display: none;
}

.tobii {
  background: rgba(24, 24, 24, .98);
  & > button.tobii__close {
    top: 0;
    right: 0;
  }
  .tobii__slider-slide {
    opacity: 0;
  }
  .tobii__slider--animate {
    .tobii__slider-slide {
      opacity: 1;
    }
  }
  .tobii__slider--animate:not(.tobii__slider--is-draggable) {
    top: 50%;
    left: 50% !important;
    width: 100%;
    max-width: 640px;
    transform: translate(-50%, -50%) !important;
    transition: opacity 0s ease-in-out;
  }
  [data-type="youtube"] {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@include lg-block {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .titleBlock h1 {
    font-size: 26px;
  }
  .titleBlock h2 {
    font-size: 24px;
  }
  p, ul li, ol li {
    font-size: 12px;
  }
  .watchVideo {
    min-height: 43px;
    border-radius: 2px;
    font-size: 16px;
    .iconPlay {
      width: 22px;
      height: 22px;
      margin-left: 7px;
      &:before {
        border-width: 5px 0 5px 8px;
      }
    }
    &.reverseButton {
      .iconPlay {
        margin-right: 7px;
        margin-left: 0;
      }
    }
  }
  .callbackFormBlock {
    padding: 40px 0;
    &.secondBackground {
      background-position: top;
    }
    &.thirdBackground {
      background-position: top;
    }
  }
  .noWebp {
    .callbackFormBlock {
      &.secondBackground {
        background-position: top;
      }
      &.thirdBackground {
        background-position: top;
      }
    }
  }
}

@include md-block {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  .titleBlock h1 {
    font-size: 20px;
    padding: 11px 0 7px;
  }
  .titleBlock h2 {
    font-size: 18px;
    padding: 10px 0 5px;
  }
  .callbackFormBlock {
    padding: 30px 0;
    &.firstBackground {
      background-attachment: scroll;
    }
    &.secondBackground {
      background-position: center;
      background-attachment: scroll;
    }
    &.thirdBackground {
      background-position: center;
      background-attachment: scroll;
    }
    &.fourthBackground {
      background-attachment: scroll;
    }
    &.fifthBackground {
      background-attachment: scroll;
    }
    &.sixthBackground {
      background-attachment: scroll;
    }
  }
  .noWebp {
    .callbackFormBlock {
      &.firstBackground {
        background-attachment: scroll;
      }
      &.secondBackground {
        background-position: center;
        background-attachment: scroll;
      }
      &.thirdBackground {
        background-position: center;
        background-attachment: scroll;
      }
      &.fourthBackground {
        background-attachment: scroll;
      }
      &.fifthBackground {
        background-attachment: scroll;
      }
      &.sixthBackground {
        background-attachment: scroll;
      }
    }
  }
  p, ul li, ol li {
    font-size: 14px;
  }
  .articleButton {
    width: 26px;
    height: 26px;
    background-size: 18px;
  }
  .watchVideo {
    min-height: 29px;
    border-radius: 2px;
    font-size: 12px;
    .iconPlay {
      width: 19px;
      height: 19px;
      margin-left: 5px;
      &:before {
        border-width: 4.5px 0 4.5px 7px;
      }
    }
    &.reverseButton {
      .iconPlay {
        margin-right: 5px;
        margin-left: 0;
      }
    }
  }
}

@include sm-block {
  h1 {
    font-size: 14px;
  }
  h2 {
    font-size: 12px;
  }
  h3 {
    font-size: 10px;
  }
  h4 {
    font-size: 10px;
  }
  .titleBlock h1 {
    font-size: 14px;
    padding: 7px 0 4px;
  }
  .titleBlock h2 {
    font-size: 12px;
    padding: 6px 0 2px;
  }
  .callbackFormBlock {
    padding: 20px 0;
  }
  .container {
    padding: 0 10px;
  }
  p, ul li, ol li {
    font-size: 10px;
  }
  .mobileLast {
    order: 99;
  }
  .articleButton {
    width: 21px;
    height: 21px;
    background-size: 13px;
  }
}

.textBlock {
  padding-bottom: 15px;
}
