div.partnerBlock
    .titleBlock
        .container
            h2 Наши партнёры
    .container
        .swiper-container.partnersSlider
            .swiper-wrapper
                .swiper-slide.partnerSlide
                    picture
                        source(srcset="img/partner1.webp" type="image/webp")
                        source(srcset="img/partner1.png" type="image/jpeg")
                        img(src="img/partner1.png", alt="Космик")
                .swiper-slide.partnerSlide
                    picture
                        source(srcset="img/partner2.webp" type="image/webp")
                        source(srcset="img/partner2.png" type="image/jpeg")
                        img(src="img/partner2.png", alt="МуМу")
                .swiper-slide.partnerSlide
                    picture
                        source(srcset="img/partner3.webp" type="image/webp")
                        source(srcset="img/partner3.png" type="image/jpeg")
                        img(src="img/partner3.png", alt="Детское радио")
                .swiper-slide.partnerSlide
                    picture
                        source(srcset="img/partner4.webp" type="image/webp")
                        source(srcset="img/partner4.png" type="image/jpeg")
                        img(src="img/partner4.png", alt="Happylon")
                .swiper-slide.partnerSlide
                    picture
                        source(srcset="img/partner3.webp" type="image/webp")
                        source(srcset="img/partner3.png" type="image/jpeg")
                        img(src="img/partner3.png", alt="Детское радио")
                .swiper-slide.partnerSlide
                    picture
                        source(srcset="img/partner4.webp" type="image/webp")
                        source(srcset="img/partner4.png" type="image/jpeg")
                        img(src="img/partner4.png", alt="Happylon")
            button.swiper-button-prev.partners-swiper-button-prev
            button.swiper-button-next.partners-swiper-button-next
